body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    text-align: center;
    padding: 1em 0;
    color: azure;
}

#header-osis {
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 10px;
    padding-inline: 30px;
}

#header-osis div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-logo {
    width: 10px;
    height: 10px;
}

#header-title {
    width: 350px;
}

#header-osis a {
    text-decoration: none;
    color: rgb(255, 245, 245);
}

.big-h1 {
    font-size: 6rem;
    text-align: center;
    color: aliceblue;
}

.big-h2 {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

#web {
    display: flex;
    justify-content: space-around;
}

#card-osis {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    /* margin-top: 50px; */
    
    background: url(../image/ys.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.a{
    color: rgb(255, 255, 255);
}